*.pyc
.pytest_cache
*__pycache__
*.log
*.coverage

app/__pycache__
app/utils/__pycache__
app/modules/__pycache__
app/modules/signup/__pycache__

data/openapi.json

htmlcoverage*

tasks/__pycache__
tasks/.coverage
tasks/signup.log
tasks/tasks.log

tests/.pytest_cache
tests/.coverage
tests/__pycache__

